<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-table/1.13.5/bootstrap-table.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/css/fileinput.min.css" rel="stylesheet">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.13.5/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.13.5/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/js/locales/zh.min.js"></script>

<div>
    <div class="row">
        <!--<button class="btn btn-info">开始记录</button>-->
            <input name="file[]" enctype="multipart/form-data" multiple id="fileInput"  type="file">
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">AP-Mac</th>
                <th scope="col">数据报个数</th>
                <th scope="col">rss个数</th>
                <th scope="col">心跳消息</th>
                <th scope="col">独立Mac数</th>
                <th scope="col">信道1</th>
                <th scope="col">信道2</th>
                <th scope="col">信道3</th>
                <th scope="col">信道4</th>
                <th scope="col">信道5</th>
                <th scope="col">信道6</th>
                <th scope="col">信道7</th>
                <th scope="col">信道8</th>
                <th scope="col">信道9</th>
                <th scope="col">信道10</th>
                <th scope="col">信道11</th>
                <th scope="col">信道12</th>
                <th scope="col">信道13</th>
                <th scope="col">信道36</th>
                <th scope="col">信道38</th>
                <th scope="col">信道40</th>
                <th scope="col">信道42</th>
                <th scope="col">信道44</th>
                <th scope="col">信道46</th>
                <th scope="col">信道48</th>
                <th scope="col">信道149</th>
                <th scope="col">信道153</th>
                <th scope="col">信道155</th>
                <th scope="col">信道157</th>
                <th scope="col">信道161</th>
            </tr>
            </thead>
            <tbody id="allBody">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">设备MAC</span>
            </div>
            <input type="text" class="form-control" placeholder="MAC" aria-label="MAC" aria-describedby="basic-addon1" id="devMac">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <td>信道1</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道2</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道3</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道4</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道5</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道6</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <td>信道7</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道8</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道9</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道10</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道11</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道12</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道13</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <td>信道149</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道153</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道155</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道157</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                        <tr>
                            <td>信道161</td>
                            <td>999</td>
                            <td>-100</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>

</div>



</body>

<script>
    $("#fileInput").fileinput({
        language: 'zh', //设置语言
        uploadUrl:"updateRawFile", //上传的地址
        uploadAsync: true, //默认异步上传
        enctype: 'multipart/form-data',
        previewFileType: "text",
        dropZoneEnabled: false,
        showPreview:false,
        browseClass: "btn btn-success",
        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
        removeClass: "btn btn-danger",
        removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
        uploadClass: "btn btn-info",
        uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
        // uploadExtraData: {
        //     'alblum_id': $("#aid").val()
        // }
    }).on("fileuploaded", function (event, data, previewId, index) {    //一个文件上传成功
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        console.log(response)
        $(response).each(function (index,item) {


            var tr = " <tr>\n" +
                "                <th scope=\"row\">"+item.id+"</th>\n" +
                "                <td>"+item.mac+"</td>\n" +
                "                <td scope=\"col\">"+item.allRawNum+"</td>\n" +
                "                <td scope=\"col\">"+item.allMessageNum+"</td>\n" +
                "                <td scope=\"col\">"+item.emptyMessageNum+"</td>\n" +
                "                <td scope=\"col\">"+item.independentMacNum+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['1']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['2']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['3']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['4']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['5']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['6']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['7']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['8']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['9']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['10']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['11']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['12']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['13']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['36']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['38']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['40']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['42']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['44']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['46']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['48']+"</td>"+
                "                <td scope=\"col\">"+item.channelCount['149']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['153']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['155']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['157']+"</td>\n" +
                "                <td scope=\"col\">"+item.channelCount['161']+"</td>\n" +
                "            </tr>"

                $("#allBody").append(tr)
        })

    })


    $("#devMac").change(function () {
        var mac = $(this).val()
        $.ajax({
            type: "POST",
            url: "test.json",
            data: {username:$("#username").val(), content:$("#content").val()},
            dataType: "json",
            success: function(data){
                $('#resText').empty();   //清空resText里面的所有内容
                var html = '';
                $.each(data, function(commentIndex, comment){
                    html += '<div class="comment"><h6>' + comment['username']
                        + ':</h6><p class="para"' + comment['content']
                        + '</p></div>';
                });
                $('#resText').html(html);
            }
        })
    })



</script>


<!--<script>-->
    <!--var msg = document.getElementById("msg");-->
    <!--var wsServer = 'ws://127.0.0.1:80';-->
    <!--var websocket = new WebSocket(wsServer);-->
    <!--//监听连接打开-->
    <!--websocket.onopen = function (evt) {-->
    <!--};-->

    <!--//监听服务器数据推送-->
    <!--websocket.onmessage = function (evt) {-->
    <!--};-->

    <!--//监听连接关闭-->
    <!--websocket.onclose = function (evt) {-->
        <!--alert("连接关闭");-->
    <!--};-->

    <!--function send(text) {-->
        <!--websocket.send(text);-->
    <!--}-->
<!--</script>-->
</html>