<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.13.5/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="col-10" id="showArea">
            <canvas width="1700" height="800" id="map"></canvas>
        </div>
        <div class="col-2">
            <ul class="list-group" id="lg">
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mac</span>
                    </div>
                    <input class="form-control" id="macInput">
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">X</span>
                    </div>
                    <input class="form-control" id="xInput">
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Y</span>
                    </div>
                    <input class="form-control" id="yInput">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">误差</span>
                    </div>
                    <input class="form-control" id="errorInt">
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" id="showError">查询</button>
                <button class="btn btn-primary" id="clearBtn">清空</button>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="bootstrap-table">
            <div class="fixed-table-container" style="padding-bottom: 0px;">
                <div class="fixed-table-header" style="display: none;"><table></table></div>
                <div class="fixed-table-body">
                    <div class="fixed-table-loading" style="top: 51px; display: none;">
                        Loading, please wait...
                    </div>
                    <table id="table" data-toggle="bootstrap-table" data-search="true" class="table table-bordered table-hover"></table>
                </div>
                <div class="fixed-table-footer" style="display: none;">
            </div>
            <div class="fixed-table-pagination" style="display: none;"></div>
        </div>

    </div>
        <table id="heatMapTable" class="table table-bordered table-hover"></table>
   </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/heatmap.js/2.0.2/heatmap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.13.5/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.13.5/locale/bootstrap-table-zh-CN.min.js"></script>
<script>

    var showInfo={
        mac:'',
        x:'',
        y:''
    }
    $(function () {
        buildMap();
        // buildTable();

        setInterval(getLocInfo,1000);
        //setInterval(getHeatMapData,5000);
        
    })

    $("#clearBtn").click(function () {
        showInfo['mac']= ""
        showInfo['x'] = ""
        showInfo['y'] = ""
    })
    $("#showError").click(function () {
        showInfo['mac']= $("#macInput").val()
        showInfo['x'] = $("#xInput").val()
        showInfo['y'] = $("#yInput").val()
    })

    function buildTable() {
        $('#table').bootstrapTable({
            queryParams: "queryParams",
            toolbar: "#toolbar",
            sidePagination: "true",
            striped: true, // 是否显示行间隔色
            search : "true",
            // uniqueId: "ID",
            pageSize: "5",
            pagination: true, // 是否分页
            sortable: true, // 是否启用排序
            columns: [{
                field: 'mac',
                title: '设备Mac'
            },
            {
                field: 'scanTime',
                title: '嗅探时间'
            },
            {
                field: 'updateTime',
                title: '定位时间'
            },
            {
                field: 'x',
                title: 'x坐标'
            },{
                field: 'y',
                title: 'y坐标'
            },
            {
                field: 'confidence',
                title: '确信度'
            }]
        });
        $("#heatMapTable").bootstrapTable({
            striped: true, // 是否显示行间隔色
            search : "true",
            sortable: true, // 是否启用排序
            height:500,
            columns: [{
                field: 'id',
                title: '晶格ID',
                sortable : true
            },
            {
                field: 'deviceDensity',
                title: '设备密度',
                sortable : true
            },
            {
                field: 'newDensity',
                title: '新密度',
                sortable : true
            },
            {
                field: 'x',
                title: 'x坐标'
            },{
                field: 'y',
                title: 'y坐标'
            }
            ]
        });
    }
    var heatmapInstance = h337.create({
        // only container is required, the rest will be defaults
        container: document.getElementById("showArea")
    });
    function buildMap() {
        var c=document.getElementById("map");
        var cxt=c.getContext("2d");

        cxt.rect(640,496,712,304);
        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("办公区域",996,680);
        cxt.stroke();

        //过道
        cxt.beginPath();
        cxt.moveTo(122.4,160)
        cxt.lineTo(122.4,496)
        cxt.lineTo(1352,496)
        cxt.lineTo(1352,210.2)
        cxt.lineTo(1588,210.2)
        cxt.lineTo(1588,145.2)
        cxt.lineTo(1288,145.2)
        cxt.lineTo(1288,420)
        cxt.lineTo(242.4,420)
        cxt.lineTo(242.4,160)
        cxt.lineTo(122.4,160)
        cxt.closePath();
        cxt.stroke();
        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("过道",737,475);

        //仓库
        cxt.beginPath();
        cxt.rect(122.4,496,517.6,304)
        cxt.closePath();
        cxt.stroke();

        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("仓库",381,648);

        cxt.beginPath();
        //办公室1
        cxt.rect(1151.2,633.6,200.8,166.4)
        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("办公室1",1251,716);

        //办公室2
        cxt.rect(1352,633.6,236,166.4)
        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("办公室2",1470,716);
        cxt.closePath();
        cxt.stroke();

        cxt.rect(1352,210.2,236,184.8)
        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("会议室",1470,327);
        cxt.closePath();
        cxt.stroke();

        // cxt.fillStyle="rgba(142, 68, 173,0.3)";
        // cxt.beginPath();
        // cxt.arc(35*40,4.2*40,10,0,Math.PI*2,true)
        // cxt.closePath();
        // cxt.fill();
        cxt.rect(1504,397.6,84,236)
        cxt.font = 'bold 35px Arial';
        cxt.textAlign = 'center';
        cxt.textBaseline = 'bottom';
        cxt.fillStyle = '#ccc';
        cxt.strokeText("小仓库",1546,515.6);
        cxt.closePath();
        cxt.stroke();
    }



    function getAPLoc() {
        $.get("/getAPsInfo",function (aps) {

            var c=document.getElementById("map");
            var cxt=c.getContext("2d");
            var img=new Image()
            img.src="phone.png"
            $.each(aps,function(index,ap){
                console.log(ap.x+" "+ap.y)
                // cxt.drawImage(img,ap.x,ap.y);
                cxt.fillStyle="#FF0000";
                cxt.beginPath();
                cxt.arc(ap.x*40,ap.y*40,10,0,Math.PI*2,true)
                cxt.closePath();
                cxt.fill();


            });
        })
    }
    function getLocInfo() {
        var colorMap = {'240995b2909c':'#FF6600',
                        '8844771b6789':'#0066FF',
                        '34d712a2e3dc':'#00CC66'}

        $.get("/getLocInfo", function(ans){
            var c=document.getElementById("map");
            var cxt=c.getContext("2d");
            c.height=c.height;
            buildMap();
            // getAPLoc()
            // $('#table').bootstrapTable('load',ans);
            $.each(ans,function(index,dev){
                cxt.fillStyle="#0066FF";
                if(dev.devMac=='34d712a2e3dc'){
                    cxt.fillStyle="#FF6600";
                }

                cxt.beginPath();
                // cxt.arc(dev.x*40,dev.y*40,dev.confidence*10,0,Math.PI*2,true)
                cxt.arc(dev.x*40,dev.y*40,15,0,Math.PI*2,true)
                cxt.closePath();
                cxt.fill();

                cxt.fillStyle = '#ccc';
                cxt.strokeText(dev.x.toFixed(2)+","+dev.y.toFixed(2), dev.x*40,  dev.y*40);


                if(showInfo['mac']==dev.devMac){
                    var errorVal = distance(showInfo['x'],showInfo['y'],dev.x,dev.y).toFixed(2)
                    $("#errorInt").val(errorVal)
                }
            });
    
        });
    }
    const distance = (x0, y0, x1, y1) => Math.hypot(x1 - x0, y1 - y0);
    function getHeatMapData() {
        var points = [];
        var max = 0;
        $.get("/getHeatMapData",function (ans) {
            var hdata = []
            $.each(ans.deviceDensity,function(index,dev){
                max = Math.max(max, dev);
                var point = {
                    x: ans.posX[index],
                    y: ans.posY[index],
                    value: dev,
                };
                points.push(point);

                var hi = {
                    x: ans.posX[index],
                    y: ans.posY[index],
                    deviceDensity: dev,
                    newDensity:ans.newDensity[index],
                    id:index
                };
                hdata.push(hi)
            })

            var data = {
                max: max,
                data: points
            };
            console.log(data)
            heatmapInstance.setData(data);
            $("#heatMapTable").bootstrapTable('load',hdata);
        })
    }


    
</script>
</html>